.homepage-back {
  width: auto;
  height: 800px;
  border: 1px solid #22254b;
  background-image: url("./back.jpg");
}

.homepage-text {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
  text-shadow: 2px 2px black;
}

.homepage-title {
  text-shadow: 4px 4px black;
}
